<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Error</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="background">
                <img src="{{ url_for('static', filename='assets/404_error_background.jpg') }}" alt="Error Background" id="error-background">
            </div>
            <div class="change-button">
                <img class="chevron-icon" src="{{ url_for('static', filename='assets/chevron-left.png') }}" alt="">
                <a href="{{ url_for('home') }}"> CHANGE CITY </a>
            </div>
            <!-- 🔹 Dynamic error message -->
            <h2 id="error-text"> {{ message }} </h2>
            
            <div class="footer">
                <a href="https://github.com/Niharika1008"> © Niharika Chunchu </a>
            </div>
        </div>
    </main>
</body>
</html>
